# Programming_Assignment23

Question 1 Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(integer):
    inti = f"{integer}"
    inti = inti[::-1]
    integer1 = int(inti)
    if integer == integer1:
        return True
    else:
        return False
is_symmetrical(1112111)

True

Question 2 Given a string of numbers separated by a comma and space, return the product of the
numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [6]:
def multiply_nums(a):
    b = a.split(",")
    result = 1
    for i in b:
        result = result*int(i)
    return result
multiply_nums("10, -2")

-20

Question 3 Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

In [12]:
def square_digits(a):
    b = ""
    for i in str(a):
        b+=str(int(i)**2)
    return int(b)

square_digits(9119)

811181

Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [13]:
def setify(list1):
    a = []
    for i in list1:
        if i not in a:
            a.append(i)
    return a

setify([1, 3, 3, 5, 5])

[1, 3, 5]

Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

In [21]:
def mean(a):
    b = str(a)
    c = 
    sumuer = sum(c)
    return [int(i) for i in b]

mean(42)

6